In [ ]:
print("Hola Mundo")

Hola Mundo

In [ ]:
nombre_P = "Diana Avila"
print(nombre_P)

Diana Avila

In [ ]:
edad = 48
print(edad)
edad = "Evelyn"
print(edad)

48
Evelyn

In [ ]:
nombre = "Paula"
apellido ="Avendano"
edad = 14
estatura = 1.50
print(nombre + "\n" + apellido, "\n", edad , "\n" , estatura)

Paula
Avendano
 14
 1.5

In [ ]:
val = True
print(val)

True

In [ ]:
nombre = "Paula"
apellido = "Avenda単o"
edad = 14
estatura = 1.50 
print(nombre + "\n " +apellido, "\n", edad, "\n", estatura)

Paula
 Avenda単o
 14
 1.5

# COMENTARIOS se realizan anteponiendo el signo numeral y se utilizan para dos cosas

1. Documentar: Para hacer documentos del codigo
2. Puebas: Para hacer pruebas del codigo

In [ ]:
# variable que captura el telefono de una persona
#telefono = 3114105439
# variable nombre de persona
nombre = "Angie Avenda単o"
# visualiza por pantalla el valor de la variable telefono
#print(telefono)
# visualiza el valor de nombre
print(nombre)

Angie Avenda単o

In [ ]:
nombre_P = input("Digite su Nombre: ")
print(nombre_P)

Digite su Nombre: Alejandro Diaz
Alejandro Diaz